html
{
        scroll-behavior: smooth;
}

.Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url('/public/static/AikyaLanding.gif') no-repeat;
    background-size: cover;
}

.Auth-form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
}

.Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
}

.Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
}

.link-primary {
    color: #007bff;
    cursor: pointer;
}

.btn-primary {
    width: 100%;
}

.error {
    color: #dc2c10;
    font-size: 0.87rem;
    list-style: none;
    padding: 0;
}

.meta-data-layout {
  float: right;
  display: flex; 
  position: absolute;
  right: 15px;  
}

.meta-data-layout button {
  margin-bottom: 0.1875rem;
  font-size: 1.0625rem;
  display: flex;
  align-items: center;
  padding: 0.625rem 1.5rem;
  float: left;
  margin-right: 0.5rem;
  
}

.meta-data-layout fieldset legend{
  float:left;
}

.dropDownModels{
  width: 145px ;
  border: 0 ;
   margin: 5px 5px 0 0;
    padding: 0 ;
   height: 25px
}
.dropDownModels div{
  padding: 0 10px;
  margin: 0;
}
 
.dialog-content {
    float: left;
}

.MuiDialogContent-root legend{
    padding-top: 1rem;
    display: none;
}
.networkMainContainer{
    width: 100%;
    padding: 10px 0;
}
.graph_sec{
    width: 24%;
    position: absolute;
    bottom: 11%;
    border: 2px solid #ddd;
    left: 3%;
    min-height: 223px;
    float: left;
    overflow: auto;
    background: #D5D5D5;
    border-radius: 20px;
    padding: 10px 0;
  }
  
  header {
    border-bottom: 1px solid #ddd;
    padding: 3px;
    text-align: center;
    font-weight: 800;
   }
   main {
      width: 100%;
      display: inline-block;
      position: relative;
   }
   
   article {
    flex: 3 1; 
    width: 33%;
      display: inline-block;
      float: left;
      text-align: center;
   }
   article div{
    padding: 0 10px;
      width: 100%;
      text-align: center;
      float: left;
  }
   
   aside {
    width: 49%;
      display: inline-block;
      float: left;
   }
  
   aside div{
    width: 59%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 10px;
  }
   
  
  .chartview{
    
  }
  .l_chart{
    position: absolute;
   
  }
  .chartview svg, .chartview div{
    width: 150px !important;
    height: 140px !important;
  }
  .chartview p {margin-top: 0 !important;}
  .chartview p , .l_chart p{ font-size: 0.8rem;}
  
  .l_chart div, .l_chart svg{
    width: 260px !important;
    height: 150px !important;
  }
.player-wrapper{
    height: 100%;
    position: relative;
    min-height: 250px;
}
.react-player__preview{
  min-height: 400px;
    background: center center;
    background-size: 60% !important;
    background-repeat: no-repeat;
}
  #section1 {
    background-color: darkturquoise;
  }
  #section2 {
    background-color: blueviolet;
  }
  #section3 {
    background-color: chocolate;
  }
  #section4 {
    background-color: darkseagreen;
  }

  

  .navbar {
    overflow: visible;
box-shadow: none !important;
padding: 0 !important;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: #344767;
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;
    transition:all 0.3s ease-in-out;
  }
  
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  .subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgba(0,0,0,.5);
    padding: 4px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .subnav:hover .subnavbtn {
    color:#007bff !important;
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    
    width: 100%;
    z-index: 1;
  }
  
  .subnav-content a {
    float: left;
    color: #344767;
    text-decoration: none;
  }
  
  .subnav-content a:hover {
    color: #007bff;
  }
  
  .subnav:hover .subnav-content {
    display: block;
  }
  .imagestyle{
    margin: 0 auto;
    display: block;
  }
  /* .imagestyle:hover{
    width: 100%;
    height: 100%;
   
  } */
  .biggerImg{
    width: 50%;
    height: 50%;
    position: absolute;
    top:10px;
  }
  .sticky {
    position: fixed;
    top: 0;
    left: 14.5%;
    width: 71%;
    background-color: #141518;
    background-image: linear-gradient(to right, #b7afaf 10% , #141518 39%);
    z-index: 10;
  }
  
  .sticky .navbar a, .sticky .subnav .subnavbtn{
    color: #fff !important;
  }
  .sticky .navbar a:hover{
    color: #007bff !important;
  }
  .sticky .navbar-brand img{
    float:left;
  }