

.container {
  width: 6%;
  height: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bank1{
  float: right;
  position: absolute;
  top: 37%;
  height: auto;
  clear: both;
  right: 24%;
}

.bank2{
  float: left;
  position: absolute;
  top: 36%;
  height: auto;
  clear: both;
  left: 12%;

}
.bank3{
  float: right;
  position: absolute;
  top: 70%;
  height: auto;
  clear: both;
  right: 32%;

}

.bank4 {
  top: 88%;
  position: absolute;
  width: 98px;
  left: 33%;
  height: 50px;
  float: left;
}

  .machine {
    width: 60vmin;
    fill: #D5D5D5; 
}

.stopGreenGear{
    fill: #3eb049;  
}
.success_gear{
    fill: #3eb049;  
}

.progress_gear{
    fill: #7cbce7;  
}
  
  .small-shadow, .medium-shadow, .large-shadow {
    fill: rgba(0, 0, 0, 0.05); }


/* .progress_gear .small {
        -webkit-animation: counter-rotation 2.5s infinite linear;
             -moz-animation: counter-rotation 2.5s infinite linear;
               -o-animation: counter-rotation 2.5s infinite linear;
                  animation: counter-rotation 2.5s infinite linear;
        -webkit-transform-origin: 100.136px 225.345px;
            -ms-transform-origin: 100.136px 225.345px;
                transform-origin: 100.136px 225.345px; }

 .success_gear .small {
                -webkit-animation: counter-rotation 2.5s infinite linear;
                     -moz-animation: counter-rotation 2.5s infinite linear;
                       -o-animation: counter-rotation 2.5s infinite linear;
                          animation: counter-rotation 2.5s infinite linear;
                -webkit-transform-origin: 100.136px 225.345px;
                    -ms-transform-origin: 100.136px 225.345px;
                        transform-origin: 100.136px 225.345px; } */
  
 
  
.progress_gear .medium {
                -webkit-animation: rotation 3.75s infinite linear;
                     -moz-animation: rotation 3.75s infinite linear;
                       -o-animation: rotation 3.75s infinite linear;
                          animation: rotation 3.75s infinite linear;
                -webkit-transform-origin: 254.675px 379.447px;
                    -ms-transform-origin: 254.675px 379.447px;
                        transform-origin: 254.675px 379.447px; 
                    } 
 .success_gear .medium {
    -webkit-animation: rotation 3.75s infinite linear;
         -moz-animation: rotation 3.75s infinite linear;
           -o-animation: rotation 3.75s infinite linear;
              animation: rotation 3.75s infinite linear;
    -webkit-transform-origin: 254.675px 379.447px;
        -ms-transform-origin: 254.675px 379.447px;
            transform-origin: 254.675px 379.447px; } 
  
  
   
  
/*
.progress_gear .large {
                -webkit-animation: counter-rotation 5s infinite linear;
                   -moz-animation: counter-rotation 5s infinite linear;
                       -o-animation: counter-rotation 5s infinite linear;
                          animation: counter-rotation 5s infinite linear;
                -webkit-transform-origin: 461.37px 173.694px;
                    -ms-transform-origin: 461.37px 173.694px;
                        transform-origin: 461.37px 173.694px; }
  .success_gear .large {
    -webkit-animation: counter-rotation 5s infinite linear;
       -moz-animation: counter-rotation 5s infinite linear;
           -o-animation: counter-rotation 5s infinite linear;
              animation: counter-rotation 5s infinite linear;
    -webkit-transform-origin: 461.37px 173.694px;
        -ms-transform-origin: 461.37px 173.694px;
            transform-origin: 461.37px 173.694px; } */
  

  
  @-webkit-keyframes rotation {
      from {-webkit-transform: rotate(0deg);}
      to   {-webkit-transform: rotate(359deg);}
  }
  @-moz-keyframes rotation {
      from {-moz-transform: rotate(0deg);}
      to   {-moz-transform: rotate(359deg);}
  }
  @-o-keyframes rotation {
      from {-o-transform: rotate(0deg);}
      to   {-o-transform: rotate(359deg);}
  }
  @keyframes rotation {
      from {transform: rotate(0deg);}
      to   {transform: rotate(359deg);}
  }
  
  @-webkit-keyframes counter-rotation {
      from {-webkit-transform: rotate(359deg);}
      to   {-webkit-transform: rotate(0deg);}
  }
  @-moz-keyframes counter-rotation {
      from {-moz-transform: rotate(359deg);}
      to   {-moz-transform: rotate(0deg);}
  }
  @-o-keyframes counter-rotation {
      from {-o-transform: rotate(359deg);}
      to   {-o-transform: rotate(0deg);}
  }
  @keyframes counter-rotation {
      from {transform: rotate(359deg);}
      to   {transform: rotate(0deg);}
  }

  /*..................Other Key frames .................*/

  
  @media (min-width: 400px) and (max-width: 1000px) {
    .container {
      width: 80px;
    }
    .bank1{
      top: 38%;
      right: 23%;
    }
    
    .bank2{
      top: 37%;
      left: 10%;
    }
    .bank3{
      top: 70%;
      right: 31%;
    }
    .bank4{
      top: 87%;
    left: 31%;
    }
    .graph_sec{
      width: 24%;
    position: absolute;
    bottom: 11%;
    border: 2px solid #ddd;
    left: 3%;
    min-height: 185px;
    float: left;
    overflow: auto;
    background: #D5D5D5;
    border-radius: 20px;
    padding: 0;
    }
    article, aside{
    width: 100%;
    margin: 2px 0;
    }
    aside div {
      width: 100%;
    
    }
    header {
      font-size: 11px;
  }
    article p, aside p{
      font-size: 11px !important;
      text-align: left !important;
      }
    
    .chartview svg, .chartview div{
      width: 110px !important;
      height: 110px !important;
    }
    .l_chart div, .l_chart svg{
      width: 110px !important;
      height: 110px !important;
      text-align: left;
    float: left;
    }

  }


  @media (min-width: 1001px) and (max-width: 1350px) {
    .container {
      width: 90px;
    }
    .bank1{
      top: 37%;
      right: 23%;
    }
    
    .bank2{
      top: 36%;
      left: 11.5%;
    }
    .bank3{
      top: 70%;
    right: 31%;
    }
    .bank4{
      top: 88%;
    left: 32%;
    }
    .graph_sec{
      width: 25%;
    position: absolute;
    bottom: 11%;
    border: 2px solid #ddd;
    left: 3%;
    min-height: 120px;
    float: left;
    overflow: auto;
    background: #D5D5D5;
    border-radius: 20px;
    padding: 0;
    }
    header {
      font-weight: 800;
      font-size: 12px;
  }
  .chartview svg, .chartview div {
    width: 130px !important;
    height: 120px !important;
}
.l_chart div, .l_chart svg {
  width: 190px !important;
  height: 136px !important;
}
aside div {
  width: 66%;
  padding: 0 10px;
}
    article p, aside p{
      font-size: 10px!important;
    width: 159px;
  text-align: left;
      }
      aside p{
        padding-left: 10px;
    
        }
  }

  @media (min-width: 1351px) and (max-width: 1800px) {
    .container {
      width: 100px;
    }
    .bank1{
      top: 37%;
      right: 24%;
     }
     
     .bank2{
       top: 36%;
       left: 12.5%;
     }
     .bank3{
      top: 70%;
     right: 32%;
      
     }
  }