body{
  background:#fff;
}

.mainContainer{
    width:100%;
    height: 100%;
    content: "";
  display: table;
  clear: both;
   
}
.row_g{
  content: "";
    display: table;
    clear: both;
    width: 100%;
    padding: 0;
    margin: 0;
}

.column{
  float: left;
  width: 33.33%;
  padding: 2px;
  height: 100%;
}
.column1{
  width: 65%;
  margin: 0 auto;
  height: 100%;
}
.heading{
  text-align: center;
  color:#b0acac
}
h2.title {text-align: center;
  font-weight: 600;
  font-size: 22px;
  padding: 10px;
    margin: 0;
}

h4.bankName{
  position: absolute;
    top: 51%;
    left: 53%;
    font-size: 1rem;
    color: #aaa;
}
.logoImage{
  background-image:url('/static/images/globalnetwork/logo.png');
  width: 100%;
    height: 65px;
    background-repeat: no-repeat;
    background-position: center;
}
.main{
 
  position: relative;;
  top:0; bottom:0; left:0;right:0;
  margin:auto;
 
}

.centerCirlcle{
    position: relative;
    float: right;
    width: 46%;
    margin:0 auto;
}
.boxImage{
  width: 100%;
  height: 100%;
    padding:3px;
}
.rectangle{
      background-image:url('/static/images/globalnetwork/node_grey.png'); 
      min-height: 250px;
    width: 100%;
    object-fit: cover;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.rectangle1 {
    top:3%;
    float:left;
    left:10%;
  }

  .rectangle2 {
    float: left;
    top: 3%;
    left: -10%;
  }

  .rectangle3 {
    float: left;
    clear: both;
    display: block;
    margin-top: 50%;
    position: relative;
    left: 2%;
}

.modalDiv{
  background-image:url('/static/images/globalnetwork/ml_grey.png'); 
  min-height: 150px;
    width: 100%;
    object-fit: cover;
    background-size: 72%;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.cube1{
  position: absolute;
    width: 32%;
    top: 7%;
    left: 0%;
    float: left;
}
.cube2 {
  position: absolute;
  width: 32%;
  top: 7%;
  left: 67%;
}
.cube3{
  position: absolute;
  width: 32%;
  top: 66%;
  left: -8%;

}

.cube4 {
  position: absolute;
    width: 32%;
    top: 70%;
    left: 71%;
}

.pentagon {
  background-image:url('/static/images/globalnetwork/ag_grey.png'); 
  min-height: 150px;
    width: 100%;
    object-fit: cover;
    background-size: 72%;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}


svg{
    height: 100%;
    width: 100%;
  }
  circle {
    fill: transparent;
    stroke: orange;
    stroke-width: 6px;

   
  }
 
  .dashed {
    stroke-dasharray: 8, 8.5;
  }
  .dotted {
    stroke-dasharray: 0.1, 12.5;
    stroke-linecap: round;
  }

 

/*....Line ....*/




.line-container {
  display: flex;
  width: 100%;
  margin: 0px auto;
  align-items: center;
  position: relative;
  }

.line{
  height: 2px;
    width: 45%;
    border: 1px dashed #7d7a7a;
    transform: rotate(103deg);
    top: 275px;
    position: relative;
    left: -8%;

}
.line11{
  height: 2px;
    width: 46%;
    border: 1px dashed #7d7a7a;
    transform: rotate(-77deg);
    top: 315px;
    position: relative;
    left: -13%;
}
  
.line2 {
  transform: rotate(139deg);
  top: 249px;
  left: 48px;
  width: 80%;
  border: 1px dashed #7d7a7a;
  position: relative;
  height: 2px;

  }

  .line22 {
    transform: rotate(-41deg);
    top: 274px;
    left: 25px;
    width: 76%;
    border: 1px dashed #7d7a7a;
    position: relative;
    height: 2px;
     
    }

  .line3 {
    transform: rotate(181deg);
    top: 425px;
    position: relative;
    left: 20%;
    height: 2px;
    width: 58%;
    border: 1px dashed #7d7a7a;
   
  }

  .line33 {
    transform: rotate(0deg);
    top: 425px;
    position: relative;
    left: 17%;
    height: 2px;
    width: 58%;
    border: 1px dashed #7d7a7a;
   
  }

.arrow-left:before {
  top: -10px;
}
.arrow-left:before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border: 10px solid transparent;
}

.arrow-left:before {
  right: -15px;
  border-left: 15px solid #7d7a7a;
}

  .line.arrow-left.progress_line:before , .line2.arrow-left.progress_line:before , .line3.arrow-left.progress_line:before{
    border-left: 10px solid #7cbce7;
  }
  .line.arrow-left.success_Text:after , .line2.arrow-left.success_Text:after , .line3.arrow-left.success_Text:after, .line11.arrow-left.success_Text:after , .line22.arrow-left.success_Text:after , .line33.arrow-left.success_Text:after{
    border-right: 10px solid #0a5c07;
    border: 10px solid #0a5c07;
  }

  .line.arrow-left.success_Text:before, .line2.arrow-left.success_Text:before , .line3.arrow-left.success_Text:before, .line11.arrow-left.success_Text:before, .line22.arrow-left.success_Text:before , .line33.arrow-left.success_Text:before, .simpleLine11.arrow-left.success_Text:before, .simpleLine22.arrow-left.success_Text:before, .simpleLine33.arrow-left.success_Text:before{
  
    border-left: 15px solid #0a5c07;
  }


  .sharemodal{
    position: relative;
    left: -19%;
    top: 284px;
    transform: rotate(-77deg);
    float: left;
    background: none !important;
  }
.sharemodal11{
  position: relative;
  left: -3%;
  top: 280px;
  transform: rotate(-77deg);
  float: left;
  background: none !important;
}
  .sharemodal2{
    position: relative;
    left: 12%;
    transform: rotate(-41deg);
    float: left;
    background: none !important;
    top: 282px;

  }

  .sharemodal22{
    position: relative;
    left: 30%;
    transform: rotate(-41deg);
    float: left;
    background: none !important;
    top: 250px;
  }
  .sharemodal3{
    position: relative;
    left: 12%;
    top: 449px;
    transform: rotate(1deg);
    float: left;
    background: none!important;
  }

  .sharemodal33{
    position: relative;
    left: 37%;
    top: 405px;
    transform: rotate(1deg);
    float: left;
    background: none!important;
  }
 
  .sharemodal11, .sharemodal22, .sharemodal33, .line11, .line22, .line33, .simpleLine11, .simpleLine22, .simpleLine33{
    visibility: hidden;
  }
  .show{
    visibility: visible;
  }
  
  .processLine{
    position: relative;
    top: 10px;
  }
  .simpleLine{
    position: absolute;
    left: 73%;
    transform: rotate(-37deg);
    top: -46px;
    border: 1px dashed #7d7a7a;
    width: 96%;
    overflow: hidden;
  }

  .simpleLine2{
    position: absolute;
    left: -61%;
    transform: rotate(38deg);
    top: -37px;
    border: 1px dashed #7d7a7a;
    width: 100%;
}

.simpleLine3{
  
  position: absolute;
  transform: rotate(178deg);
  left: 84%;
  border: 1px dashed #7d7a7a;
  top: 34px;
  width: 82%;
  overflow: hidden;
  }
  .simpleLine4{
    flex-grow: 0.15;
    position: relative;
    transform: rotate(-91deg);
    left: 4%;
    border: 1px dashed #7d7a7a;
    top: 12px;
}

.simpleLine11{
  position: absolute;
    left: 61%;
    transform: rotate(322deg);
    top: -16px;
    border: 2px solid #7d7a7a;
    width: 102%;
}

.simpleLine22{
  position: absolute;
    left: -67%;
    transform: rotate(224deg);
    top: 7px;
    border: 2px solid #7d7a7a;
    width: 98%;
}
.simpleLine33 {
  position: absolute;
    left: 83%;
    transform: rotate(361deg);
    top: 60px;
    border: 1px solid #7d7a7a;
    width: 149%;
}


.dummyHeight{
  height: 1px;
  width: 100%;
  float: left;
  display: block;
  clear: both;

}
.graph_sec{
  width: 24%;
    position: absolute;
    bottom: 11%;
    border: 2px solid #ddd;
    left: 8%;
    box-shadow: 3px 3px 5px #aaa;
    padding: 10px 0;
    min-height: 200px;
    float: left;
    overflow: auto;
}

header {
  border-bottom: 1px solid #ddd;
  padding: 3px;
  text-align: center;
  font-weight: 800;
 }
 main {
    width: 100%;
    display: inline-block;
    position: relative;
 }
 
 article {
  flex: 3 1; 
  width: 33%;
    display: inline-block;
    float: left;
    text-align: center;
 }
 article div{
  padding: 0 10px;
    width: 100%;
    text-align: center;
    float: left;
}
 
 aside {
  width: 49%;
    display: inline-block;
    float: left;
 }

 aside div{
  width: 59%;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 10px;
}
 

.chartview{
  
}
.l_chart{
  position: absolute;
 
}
.chartview svg, .chartview div{
  width: 200px !important;
  height: 170px !important;
}
.chartview p {margin-top: 0 !important;}

.l_chart div, .l_chart svg{
  width: 260px !important;
  height: 150px !important;
}

.ag_blueBox {
  background-image:url('/static/images/globalnetwork/ag_blue.png'); 
}

.ag_greenBox {
  background-image:url('/static/images/globalnetwork/ag_green.png'); 
}

.progress_arrow{
    background-image: url('/static/images/globalnetwork/arrow-light-gray.png');
    background-repeat: repeat;
    width: 150px;
    height: 50px;
    transform: rotate(221deg);
    position: relative;
    left: -26%;
    /* animation: arrowprogress 1s linear infinite; */
}



.progress_arrow1{
  transform: rotate(212deg);
  position: relative;
  left: -56%;
  top: -63px;
}
.progress_arrow2{
  transform: rotate(319deg);
  position: relative;
  left: 78%;
  top: -42px;
  float: left;
}
.progress_arrow3{
  transform: rotate(359deg);
    position: relative;
    left: 86%;
    float: left;
    top: 15px;

}
.progress_blue{
  background-image: url('/static/images/globalnetwork/arrow-play.gif');
    background-repeat: repeat;
     animation: arrowprogress 1s linear infinite;
}

.p1{
  transform: rotate(37deg);
}
.p2{
  transform: rotate(138deg);
}
.p3{
  transform: rotate(180deg);
  left: 80%;
  top: 15px;
}

@keyframes arrowprogress {
  50% {
    opacity: 0;
  }
}


.progress_Success{
  background-image: url('/static/images/globalnetwork/arrow-dark-green.png');
  background-repeat: repeat;
}

.bank2{
  top: 38%;
}
.bank1{
  top: 38%;
}
.bank3{
  top: 38%;
}

 /* --------------------------------------------------------------------*/



@media (min-width: 400px) and (max-width: 1000px) {
body{
  font-size: 0.8rem;
}
h4.bankName{
  font-size: 0.7rem;
}
  .centerCirlcle {
    
    margin: -10% auto;
}
  .rectangle, .progress_bg, .success_bg{
    min-height:200px !important;
  }
  .cube3 {
    position: absolute;
    width: 32%;
    top: 64%;
    left: -2%;
}
.cube4 {
  position: absolute;
  width: 32%;
  top: 64%;
  left: 67%;
}
.simpleLine {
  position: absolute;
  left: 67%;
  transform: rotate(-45deg);
  top: 3px;
  border: 1px dashed #7d7a7a;
  width: 127%;
  overflow: hidden;
}
.simpleLine2 {
  position: absolute;
    left: -71%;
    transform: rotate(45deg);
    top: 0px;
    border: 1px dashed #7d7a7a;
    width: 130%;
}

.simpleLine3 {
  position: absolute;
    transform: rotate(181deg);
    left: 84%;
    border: 1px dashed #7d7a7a;
    top: 60px;
    width: 153%;
    overflow: hidden;
}

.simpleLine11 {
  position: absolute;
  left: 41%;
  transform: rotate(316deg);
  top: -2px;
  border: 1px solid #7d7a7a;
  width: 138%;
}

.simpleLine22 {
  position: absolute;
  left: -86%;
  transform: rotate(224deg);
  top: 8px;
  border: 1px solid #7d7a7a;
  width: 133%;
}
.simpleLine33 {
  position: absolute;
  left: 83%;
  transform: rotate(361deg);
  top: 73px;
  border: 1px solid #7d7a7a;
  width: 112%;
}
  .line{
    top: 163px;
    left: -5%;
    width: 46%;
    transform: rotate(91deg);
}
.line11{
  top: 188px;
  left: -11%;
  width: 47%;
  transform: rotate(-89deg);
}
  
  .line2{
    top: 150px;
    left: 15%;
    width: 74%;
    transform: rotate(136deg);
  }
  .line22{
    top: 164px;
    left: 9%;
    width: 72%;
    transform: rotate(-45deg);
  }
  .line3{
    top: 211px;
    left: 24%;
    width: 55%;
    transform: rotate(179deg);
  }
  .line33{
    top: 236px;
    left: 24%;
    width: 48%;
    transform: rotate(0deg);
  }
  .sharemodal{
    top: 170px;
    left: -32%;
    font-size: 10px;
    transform: rotate(-89deg);
  }

  .sharemodal2 {
    position: relative;
    left: 4%;
    transform: rotate(-44deg);
    float: left;
    background: none !important;
    top: 157px;
    font-size: 10px;
  }
  
  .sharemodal3{
    top: 212px;
    left: -5%;
    font-size: 10px;
    transform: rotate(0deg);

  }
  .sharemodal11{
    top: 183px;
    left: -9%;
    font-size: 10px;
    transform: rotate(-90deg);
  }

  .sharemodal22{
    font-size: 10px;
    top: 143px;
    left: 28%;
    transform: rotate(-44deg);
  }
  
  .sharemodal33{
    top: 238px;
    left: 29%;
    font-size: 10px;
    transform: rotate(0deg);
  }
  .bank2{
    top: 46%;
  }
  .bank1{
    top: 46%;
  }
  .bank3{
    top: 46%;
  }
  .bank4 {
    top: 90px;
    left: -9%;
    height: 40px;
}
  .line1_arrow_success {
    transform: rotate(-89deg) !important;
}
  
.line2_arrow_success {
  transform: rotate(-45deg) !important;
  border: 1px dashed #7d7a7a;
}

.line3_arrow_success {
  transform: rotate(0deg) !important;
 
}
  .progress_arrow1 {
    width: 109px;
    height: 60px;
    top: -1.7rem;
    left: -81%;
    transform: rotate(226deg);
  
}
.progress_arrow2 {
  width: 109px;
  height: 60px;
  top: -0.4rem;
}
.progress_arrow3 {
  width: 109px;
  height: 60px;
  top: 4rem;
  left: 67%;
    transform: rotate(364deg);
}
.p1{
  transform: rotate(41deg);
  top: -0.7rem;
  left: -75%;
}
.p2{
  transform: rotate(135deg);
  left: 50%;
}
.p3{
  transform: rotate(180deg);
  top: 49px;
  left: 52%;
}
 
.progress_arrow3 .progress_Success{
  transform: rotate(363deg);
}
.graph_sec{
  min-height: 280px;
  width: 29%;
    position: absolute;
    bottom: 5%;
    border: 2px solid #ddd;
    left: 2%;
    box-shadow: 3px 3px 5px #aaa;
    padding: 10px 0;
    float: left;
    overflow: auto;
}
article, aside{
width: 100%;
}
aside div {
  width: 100%;

}
article p, aside p{
  font-size: 11px !important;
  text-align: left !important;
  }

.chartview svg, .chartview div{
  width: 250px !important;
    height: 150px !important;
}
.l_chart div, .l_chart svg{
  width: 250px !important;
    height: 150px !important;
}

}

 /* min & max completed here */

 /* --------------------------------------------------------------------*/

@media (min-width: 1001px) and (max-width: 1350px) {

  body{
    font-size: 0.8rem;
  }

  h4.bankName{
    font-size: 0.9rem;
  }
  .centerCirlcle {
    margin: -2% auto;
  
}
  .rectangle, .progress_bg, .success_bg{
    min-height:157px !important;
  }
  .simpleLine {
    position: absolute;
    left: 74%;
    transform: rotate(-38deg);
    top: -5px;
    border: 1px dashed #7d7a7a;
    width: 100%;
    overflow: hidden;
}
  .simpleLine2 {
    position: absolute;
    left: -60%;
    transform: rotate(44deg);
    top: 0px;
    border: 1px dashed #7d7a7a;
    width: 100%;
}
.bank2{
  top: 38%;
}
.bank1{
  top: 38%;
}
.bank3{
  top: 38%;
}
  .bank4 {
    top: 102px;
 
    left: 7%;
 
}
.line{
  top: 200px;
    left: -8%;
    width: 46%;
    transform: rotate(91deg);
}
.line11{
  top: 217px;
    left: -13%;
    width: 47%;
    transform: rotate(-89deg);
}

.line2{
  top: 193px;
    left: 9%;
    width: 77%;
    transform: rotate(136deg);
}
.line22{
  top: 199px;
  left: 7%;
  width: 73%;
  transform: rotate(-45deg);
}
.line3{
  top: 293px;
    left: 22%;
    width: 55%;
    transform: rotate(179deg);
}
.line33{
  top: 315px;
    left: 24%;
    width: 48%;
    transform: rotate(0deg);
}
.sharemodal{
  top: 200px;
  left: -25%;
  font-size: 10px;
  transform: rotate(-89deg);
}

.sharemodal2 {
  position: relative;
    left: 9%;
    transform: rotate(-44deg);
    float: left;
    background: none !important;
    top: 199px;
    font-size: 10px;
}

.sharemodal3{
  top: 293px;
    left: 11%;
    font-size: 10px;
    transform: rotate(0deg);

}
.sharemodal11{
  top: 211px;
  left: -7%;
  font-size: 10px;
  transform: rotate(-89deg);

}

.sharemodal22{
  font-size: 10px;
    top: 184px;
    left: 28%;
    transform: rotate(-44deg);
}

.sharemodal33{
  top: 317px;
  left: 35%;
  font-size: 10px;
  transform: rotate(0deg);
}

.bank4 {
  top: 90px;
  left: -9%;
  height: 40px;
}
.line1_arrow_success {
  transform: rotate(-89deg) !important;
}

.line2_arrow_success {
transform: rotate(-44deg) !important;
border: 1px dashed #7d7a7a;
}

.line3_arrow_success {
transform: rotate(0deg) !important;

}
  .progress_arrow1 {
    width: 109px;
    height: 60px;
    top: -1.7rem;
    left: -68%;

}
.progress_arrow2 {
  width: 109px;
  height: 60px;
  top: -0.4rem;
}
.progress_arrow3 {
  width: 109px;
    height: 60px;
    top: 5rem;
    left: 73%;
    
}

.p1 {
  transform: rotate(44deg);
  top: -0.7rem;
  left: -70%;
}

.p2{
  transform: rotate(138deg);
  left: 55%;
}

.p3 {
  transform: rotate(180deg);
  top: 4.5rem;
  left: 47%;
}

.chartview svg{
  width: 150px !important;
  height: 150px !important;
}
.chartview svg, .chartview div{
  width: 150px !important;
  height: 150px !important;
}
article p, aside p{
  font-size: 11px !important;
 
  }
  .graph_sec{
    min-height: 300px;
    width: 29%;
      position: absolute;
      bottom: 5%;
      border: 2px solid #ddd;
      left: 2%;
      box-shadow: 3px 3px 5px #aaa;
      padding: 10px 0;
      float: left;
      overflow: auto;
  }
  article, aside{
    width: 100%;
    }
    aside div {
      width: 100%;
    
    }
    article p, aside p{
      font-size: 11px !important;
      text-align: left !important;
      }

}

 /* min & max completed here */
 /* --------------------------------------------------------------------*/

@media (min-width: 1351px) and (max-width: 1800px) {

  body{
    font-size: 0.8rem;
  }
  .centerCirlcle {
    margin: -2% auto;
  
}
 
  .line {

    transform: rotate(103deg);
    top: 267px;
    left: -8%;
}

.line11{

  top: 300px;

}
  .sharemodal {
    left: -16%;
    top: 284px;
    transform: rotate(-77deg);
   
}
.sharemodal2 {
  left: 12%;
  transform: rotate(-41deg);
  top: 295px;
}
.sharemodal11 {
  left: -2%;
  top: 273px;
  transform: rotate(-77deg);
 
}
.sharemodal22 {
  left: 30%;
  transform: rotate(-41deg);
  top: 259px;
}
  .bank2{
    top: 38%;
  }
  .bank1{
    top: 38%;
  }
  .bank3{
    top: 38%;
  }
  .simpleLine{
    position: absolute;
    left: 77%;
    transform: rotate(-37deg);
    top: -29px;
    border: 1px dashed #7d7a7a;
    width: 90%;
    overflow: hidden;
  }

  .simpleLine2{
      position: absolute;
      left: -61%;
      transform: rotate(38deg);
      top: -22px;
      border: 1px dashed #7d7a7a;
      width: 95%;
}


.simpleLine3{
  position: absolute;
  transform: rotate(180deg);
  left: 84%;
  border: 1px dashed #7d7a7a;
  top: 55px;
  width: 82%;
  overflow: hidden;
  }
 
  .simpleLine11{
    position: absolute;
    left: 59%;
    transform: rotate(322deg);
    top: -46px;
    border: 1px solid #7d7a7a;
    width: 100%;
  }
  .simpleLine22{
    position: absolute;
    left: -62%;
    transform: rotate(218deg);
    top: -7px;
    border: 1px solid #7d7a7a;
    width: 91%;
  }

  .simpleLine33 {
    position: absolute;
    left: 83%;
    transform: rotate(360deg);
    top: 35px;
    border: 1px solid #7d7a7a;
    width: 76%;
}
  .progress_arrow1 {
    width: 109px;
    height: 60px;
    top: -1.7rem;
    left: -68%;

}
.progress_arrow2 {
  width: 109px;
  height: 60px;
  top: -0.4rem;
}
.progress_arrow3 {
  width: 109px;
    height: 60px;
    top: 5rem;
    left: 73%;
    
}

.p1 {
  transform: rotate(44deg);
  top: -0.7rem;
  left: -70%;
}

.p2{
  transform: rotate(138deg);
  left: 55%;
}

.p3 {
  transform: rotate(180deg);
  top: 4.5rem;
  left: 47%;
}

.chartview svg{
  width: 150px !important;
  height: 150px !important;
}
.chartview svg, .chartview div{
  width: 150px !important;
  height: 150px !important;
}


}

 /* min & max completed here */

 .greenBox{
  background-image:url('/static/images/globalnetwork/ml_green.png'); 
  
}
.blueBox{
  background-image:url('/static/images/globalnetwork/ml_blue.png'); 
}
.progress_bg{
  
  background-image:url('/static/images/globalnetwork/node_blue.png'); 
   min-height: 250px;
    width: 100%;
    object-fit: cover;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.success_bg{
  
  background-image:url('/static/images/globalnetwork/node_blue.png'); 
      min-height: 250px;
    width: 100%;
    object-fit: cover;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.progress_line{
  background-color: #7cbce7;
  color:#7cbce7;
  border-color:#7cbce7 ;
}
.success_Text{
  color:#0a5c07;
  border-color:#0a5c07 ;
}
.success_line{
  border: 2px dashed #0a5c07;
}
.success_arrow{
  border-right: 10px solid #0a5c07;
}

.line1_arrow_success{
  transform: rotate(-77deg);
  border: 1px solid #0a5c07;
}
.line2_arrow_success{
  transform: rotate(-41deg);
  border: 1px solid #0a5c07;
}
.line3_arrow_success{
  transform: rotate(1deg);
  border: 1px solid #0a5c07;
}




