
#navigation{
  z-index: 999;
}
.navContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
 
  overflow-x: scroll;
}
.navlink {
  border-radius: 5px;
  padding: 10px 20px;
  background-color: burlywood;
  margin: 0 10px;
  min-width: 300px;
}
