node_modules/
*.md
stubs/
.git/
.gitignore
.eslintcache
.cache/
.env
.env.local
.env.development
.env.test
k8/.env-example
Dockerfile
Dockerfile-local
.dockerignore
build-*.sh
README.md
build/
coverage/
.vscode/
.idea/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
